<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Database Users</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/styles/layout.css">
    <link rel="stylesheet" type="text/css" href="/styles/general.css">
    <link rel="stylesheet" type="text/css" href="/styles/tabs.css">
    <!--[if lt IE 9]>
    <script src="../static/scripts/html5shiv.js"></script><![endif]-->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">


    <script>
        function rowClicked(value) {
            location.href = "/users/summary?id=" + value;
        }

        function createUser() {
            location.href = "/users/create";
        }
    </script>
    <script>
        function buttonClicked(value) {
            var result = confirm("Do you really want to kick this user?");
            if (result == true) {
                location.href = "/users/kick?id=" + value;
            } else {

            }
        }
    </script>
    <script src="/scripts/sockjs.js"></script>
    <script src="/scripts/stomp.js"></script>
    <script src="/scripts/tabs.js"></script>
    <script>
        var context_path = "${pageContext.request.contextPath}";
        var socket = new SockJS('/ws');
        //var socket = new SockJS('/specific/message');
        var stompClient = Stomp.over(socket);
        //var connid = utils.random_string(8);
        var sessionId = "";

        var username = "null";

        function setUname(Uname) {
            username = Uname;
        }

        var connect_callback = function () {
            // called back after the client is connected and authenticated to the STOMP server
            stompClient.subscribe('/user/queue/notify', function (msgOut) {
                //0 = kick, 1 = device cert, 3 = display msg, 2 revalidate page
                if(msg[0] == 1){
                    writeCert(msg[1]);
                }
                if(msg[0] == 2){
                    location.href = "/?user=" + username;
                }
                if (msg[0] == 3) {
                    var msg = 'Message From: ' + msg[1] + '\n' + msg[2];
                    alert(msg);
                }
                if (msg[0] == 4) {
                    //handle
                }
                if(msg[0] == 0){
                    location.href = "/notallowed"
                }
            });
            sendUsername();
        };

        stompClient.connect({}, function (frame) {
            var suffix = frame.headers['queue-suffix'];
            var url = stompClient.ws._transport.url;
            sessionId = /\/([^\/]+)\/websocket/.exec(socket._transport.url)[1];
            //sessionId = /\/([^\/]+)\/websocket/.exec(socket._transport.url)[1];
            url = url.replace(
                "/ws://localhost:8080/messagesocket/specific/message//ig",  "");
            url = url.replace("//websocket/ig", "");
            url = url.replace(/^[0-9]+\//, "");
            console.log("Your current session is: " + sessionId);
            connect_callback()
        });

        function disconnect() {
            if (stompClient != null) {
                stompClient.disconnect();
            }
            console.log("Disconnected");
        }

        function sendUsername() {
            stompClient.send("/app/register", {},
                JSON.stringify({'username': username, 'session': sessionId}));
        }

        function sendDeviceCert(cert) {
            stompClient.send("/app/device/cert", {},
                JSON.stringify({'cert': cert, 'user': username}));
        }

        function writeCert(cert) {
            if (typeof (Storage) !== "undefined") {
                // Code for localStorage
                localStorage.setItem("cert", cert);
            }
        }

        function checkStatus() {
            stompClient.send("/app/httpstatus", {},
                JSON.stringify({'username': username, 'session': sessionId}));
        }

        function getCert() {
            if (typeof (Storage) !== "undefined") {
                // Code for localStorage
                if (localStorage.length == 0) {
                    sendDeviceCert(0)
                } else {
                    if (localStorage.getItem("cert") > "1") {
                        sendDeviceCert(localStorage.getItem("cert"))
                    }
                }
            } else {
                sendDeviceCert(-1);
            }
        }
    </script>

    <script th:inline="javascript">
        /*<![CDATA[*/

        var visited = /*[[${user.username}]]*/ '0';

        /*]]>*/
        setUname(visited);
    </script>
</head>
<body onload="init()" onclick="checkStatus()">

<div class="wrapper row1">
    <header id="header" class="clear">
        <h1>Databse User Search</h1>
        <p th:object="${user}" th:text="*{msg}" style="color:red; text-align: center;"><b></b></p>
    </header>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row2">
    <div id="container" class="clear">
        <div id="col1">
            <h2>Logged in as</h2>
            <p th:object="${user}" th:text="*{username}" style="color:red; text-align: center;"><b></b></p>
            <a href="/logout">Logoff</a>
            <hr>
            <button type="button" onclick="createUser()">Create New User</button>
        </div>
        <div id="col2">
            <ul id="tabs">
                <li><a href="#filter">Search Filters</a></li>
            </ul>
            <div class="tabContent" id="filter">
                <h2>Search Filters</h2>
                <div id="filter-container">
                    <form action="#" th:action="@{/users/users/submit}" th:object="${bean}" method="post"
                          style="text-align: center;">
                        <div id="user-table">
                            <table style="border-collapse:collapse; align: center; text-align: left; align: center; width: 100%;" border="1" cellpadding="2" cellspacing="2">
                                <tbody>
                                <tr>
                                    <td>
                                        <p>Username</p>
                                    </td>
                                    <td><input type="text" th:text="${bean.username}" th:value="${bean.username}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>First Name</p>
                                    </td>
                                    <td><input type="text" th:text="${bean.firstname}" th:value="${bean.firstname}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Last Name</p>
                                    </td>
                                    <td><input type="text" th:text="${bean.lastname}" th:value="${bean.lastname}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>User ID</p>
                                    </td>
                                    <td><input type="text" th:text="${bean.id}" th:value="${bean.id}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Admin Status</p>
                                    </td>
                                    <td><input type="text" th:text="${bean.admin}" th:value="${bean.admin}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Index</p>
                                    </td>
                                    <td><input type="text" th:text="${bean.index}" th:value="${bean.index}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>IP Address</p>
                                    </td>
                                    <td><input type="text" th:text="${bean.ip}" th:value="${bean.ip}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Session Type</p>
                                    </td>
                                    <td><input type="text" th:text="${bean.sessiontype}" th:value="${bean.sessiontype}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Device</p>
                                    </td>
                                    <td><input type="text" th:text="${bean.device}" th:value="${bean.device}">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <input type="submit" value="Submit"><input type="reset" value="Reset">

                        </div>
                    </form>
                </div>
            </div>
            <div class="tabContent" id="results">
                <div id="result-conatiner">
                    <h2>Results</h2>
                    <div id="activeuser-table">
                        <table style="border-collapse:collapse; align: center; text-align: left; align: center; width: 100%;"
                               border="1" cellpadding="2"
                               cellspacing="2">
                            <tbody>
                            <tr>
                                <th style="text-align: center;"><p style=""><b>Username</b></th>
                                <th style="text-align: center;"><p style=""><b>First Name</b></th>
                                <th style="text-align: center;"><p style=""><b>Last Name</b></th>
                                <th style="text-align: center;"><p style=""><b>ID</b></th>
                                <th style="text-align: center;"><p style=""><b>System Admin</b></th>
                                <th style="text-align: center;"><p style=""><b>Index</b></th>
                                <th style="text-align: center;"><p style=""><b>IP Address</b></th>
                                <th style="text-align: center;"><p style=""><b>Session Type</b></th>
                                <th style="text-align: center;"><p style=""><b>Device Type</b></th>
                                <th style="text-align: center;"><p style=""><b>User Summary</b></th>
                            </tr>
                            <tr th:each="UserListBean, stat : ${list}">
                                <td th:text="${UserListBean.username}">
                                </td>
                                <td th:text="${UserListBean.firstname}">
                                </td>
                                <td th:text="${UserListBean.lastname}">
                                </td>
                                <td th:text="${UserListBean.id}">
                                </td>
                                <td th:text="${UserListBean.admin}">
                                </td>
                                <td th:text="${UserListBean.index}">
                                </td>
                                <td th:text="${UserListBean.ip}">
                                </td>
                                <td th:text="${UserListBean.sessiontype}">
                                </td>
                                <td th:text="${UserListBean.device}">
                                </td>
                                <td th:data1="${UserListBean.idi}" onclick="rowClicked(this.getAttribute('data1'))">
                                    <p style="color: gold"><b>User Summary</b></p>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div id="col3">
            <h2>Navagation</h2>
            <ul>
                <li><a href="/">Home</a>

                    <ul>
                        <li><a href="/users">User Console</a>
                            <ul>
                                <li><a href="/users/active">Active Users</a></li>
                                <li><p><b>Users</b></p></li>
                                <li><a href="/users/message">Message Console</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/tables">Table Console</a>

                        </li>
                        <li th:if="${user.admin}">
                            <a href="/logs">Log Console</a>
                        </li>
                        <li>
                            <a href="/transactions">Transaction Console</a>
                        </li>
                        <li th:if="${user.admin}">
                            <a href="/maintenance">Maintenance Console</a>
                        </li>
                        <li th:if="${user.admin}">
                            <a href="/devices">Device Console</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/user/options">User Options</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row3">
    <footer id="footer" class="clear">
        <h1>Database</h1>
        <p class="fl_left">2019 Kirchner Solutions - All Rights Reserved - <a
                href="https://kirchnerbusinesssolutions.com">Kirchner Business Solutions</a></p>
        <p class="fl_right">Thanks to <a href="https://www.os-templates.com/" title="Free Website Templates">OS
            Templates</a></p>
    </footer>
</div>
</body>
</html>