<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>JavaByte Database Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" th:href="@{/styles/layout.css}" rel="stylesheet">
    <link type="text/css" th:href="@{/styles/general.css}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="../static/scripts/html5shiv.js"></script><![endif]-->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <script  th:src="@{/scripts/sockjs.js}"></script>
    <script  th:src="@{/scripts/stomp.js}"></script>
    <script  th:src="@{/scripts/StompGeneral.js}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/

        var visited = /*[[${user.username}]]*/ '0';

        /*]]>*/
        setUname(visited);
    </script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        var sip = /*[[${ip.ip}]]*/ '0';

        /*]]>*/
        setIp(sip);
    </script>

</head>
<body onclick="checkStatus()">
<div class="wrapper row1">
    <header id="header" class="clear">
        <h1>JavaByte Console Home</h1>
        <p th:object="${user}" th:text="*{msg}" style="color:red; text-align: center;"><b></b></p>
    </header>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row2">
    <div id="container" class="clear">
        <div id="col1">
            <h2>Logged in as</h2>
            <p th:object="${user}" th:text="*{username}" style="color:red; text-align: center;"><b></b></p>
            <a href="/logout">Logoff</a>
            <hr>
            <p><b>Select desired console</b></p>
        </div>
        <div id="col2">
            <h2>Menu</h2>
            <table style="text-align: left; margin-left: auto; margin-right: auto;">

                <tr th:if="${user.admin}">
                    <td style="">
                        <a target="_blank" href="/users"><b>User Console</b></a>
                    </td>
                </tr>
                <tr th:if="${user.admin}">
                    <td style="">
                        <a target="_blank" href="/traffic"><b>Traffic Console</b></a>
                    </td>
                </tr>
                <tr>
                    <td style="">
                        <a target="_blank" href="/tables"><b>Table Console</b></a>
                    </td>
                </tr>
                <tr th:if="${user.admin}">
                    <td style="">
                        <a target="_blank" href="/logs"><b>Log Console</b></a>
                    </td>
                </tr>
                <tr th:if="${user.admin}">
                    <td style="">
                        <a target="_blank" href="/transactions"><b>Transaction Console</b></a>
                    </td>
                </tr>
                <tr th:if="${user.admin}">
                    <td style="">
                        <a target="_blank" href="/maintenance"><b>Maintenance Console</b></a>
                    </td>
                </tr>
                <tr th:if="${user.admin}">
                    <td style="">
                        <a target="_blank" href="/data"><b>Data Management Console</b></a>
                    </td>
                </tr>
                <tr th:if="${user.admin}">
                    <td style="">
                        <a target="_blank" href="/devices"><b>Device Console</b></a>
                    </td>
                </tr>
                <tr>
                    <td style="">
                        <a target="_blank" href="/user/options"><b>User Options</b></a>
                    </td>
                </tr>
            </table>
        </div>
        <div id="col3">
            <h2>Navagation</h2>
            <ul>
                <li><p><b>Home</b></p>

                    <ul>

                        <li th:if="${user.admin}">
                            <a href="/users">User Console</a>
                        </li>
                        <li th:if="${user.admin}">
                            <a href="/traffic">Traffic Console</a>
                        </li>
                        <li>
                            <a href="/tables">Table Console</a>
                        </li>
                        <li th:if="${user.admin}">
                            <a href="/logs">Log Console</a>
                        </li>
                        <li th:if="${user.admin}">
                            <a href="/transactions">Transaction Console</a>
                        </li>
                        <li th:if="${user.admin}">
                            <a href="/maintenance">Maintenance Console</a>
                        </li>
                        <li th:if="${user.admin}">
                            <a href="/data">Data Management Console</a>
                        </li>
                        <li th:if="${user.admin}">
                            <a href="/devices">Device Console</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/user/options">User Options</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row3">
    <footer id="footer" class="clear">
        <h1>JavaByte Modern Database</h1>
        <p class="fl_left">2019 Kirchner Solutions - All Rights Reserved - <a
                href="https://kirchnerbusinesssolutions.com">Kirchner Business Solutions</a></p>
    </footer>
</div>
</body>

</html>