<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Database Error</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/layout.css">
    <link rel="stylesheet" type="text/css" href="/styles/general.css">
    <!--[if lt IE 9]>
    <script src="../static/scripts/html5shiv.js"></script><![endif]-->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

</head>
<body>
<div class="wrapper row1">
    <header id="header" class="clear">
        <h1>Database Error</h1>
    </header>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row2">
    <div id="container" class="clear">
        <div id="col1">
            <hr>
            <p><b></b></p>
        </div>
        <div id="col2">
            <h2 style="color: red">Page Forbidden</h2>
            <h3 style="color: red">This device is not registered to access this application<br>Contact system admin for access</h3>
        </div>
        <div id="col3">

        </div>
    </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row3">
    <footer id="footer" class="clear">
        <h1>JavaByte Modern Database</h1>
        <p class="fl_left">2019 Kirchner Solutions - All Rights Reserved - <a
                href="https://kirchnerbusinesssolutions.com">Kirchner Business Solutions</a></p>
    </footer>
</div>
</body>
</html>