<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>JavaByte Transaction Console</title>
    <meta charset="UTF-8">

    <link type="text/css" th:href="@{/styles/layout.css}" rel="stylesheet">
    <link type="text/css" th:href="@{/styles/general.css}" rel="stylesheet">
    <link type="text/css" th:href="@{/styles/tabs.css}" rel="stylesheet">
    <!--
    <link rel="stylesheet" type="text/css" href="/styles/layout.css">
    <link rel="stylesheet" type="text/css" href="/styles/general.css">
    <link rel="stylesheet" type="text/css" href="/styles/tabs.css">
    -->
    <!--[if lt IE 9]>
    <script src="../static/scripts/html5shiv.js"></script><![endif]-->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <script th:src="@{/scripts/sockjs.js}"></script>
    <script th:src="@{/scripts/stomp.js}"></script>
    <script th:src="@{/scripts/tabs.js}"></script>
    <script th:src="@{/scripts/StompTrans.js}"></script>
    <!--
    <script src="/scripts/sockjs.js"></script>
    <script src="/scripts/stomp.js"></script>
    <script src="/scripts/tabs.js"></script>
    <script src="/scripts/StompUsers.js"></script>
    -->

    <script>

    </script>
    <script>

    </script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        var visited = /*[[${user.username}]]*/ '0';

        /*]]>*/
        setUname(visited);
    </script>
</head>
<body onload="init()" onclick="checkStatus()">
<div class="wrapper row1">
    <header id="header" class="clear">
        <h1>JavaByte Transaction Console</h1>
        <p th:object="${user}" th:text="*{msg}" style="color:red; text-align: center;"><b></b></p>
    </header>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row2">
    <div id="container" class="clear">
        <div id="col1">
            <h2>Logged in as</h2>
            <p th:object="${user}" th:text="*{username}" style="color:red; text-align: center;"><b></b></p>
            <a href="/logout">Logoff</a>
            <hr>
        </div>
        <div id="col2">
            <ul id="tabs">
                <li><a href="#filters">Transaction Browser</a></li>
                <li><a href="#ip">Transaction View</a></li>
            </ul>
            <div class="tabContent" id="filters">
                <h2>Transaction Browser</h2>
                <div id="filter-container">
                    <div id="tablefilter-table">
                        <table style="border-collapse:collapse; align: center; text-align: left; align: center; width: 100%;"
                               border="1" cellpadding="2"
                               cellspacing="2">
                            <tbody>
                            <tr>
                                <td>
                                    <p>Username</p>
                                </td>
                                <td><input id="username" type="text"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Operation</p>
                                </td>
                                <td><input id="ipad" type="text"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Successful</p>
                                </td>
                                <td><input id="page" type="text"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Start Time(Results after this time)</p>
                                </td>
                                <td><input id="sdate" type="text" placeholder="MM-DD-YYYY~HH~MM~SS"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>End Time(Results before this time)</p>
                                </td>
                                <td><input id="edate" type="text" placeholder="MM-DD-YYYY~HH~MM~SS"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="center-wrap" style="text-align: center">
                        <div style="display: inline-block">
                            <button type="button" style="alignment: center" onclick="searchTransactions()">Search</button>
                        </div>
                    </div>
                    <hr>
                    <h3>Results</h3>
                    <hr>
                    <div id="activeuser2-table">
                        <table id="userResult"
                               style="border-collapse:collapse; align: center; text-align: left; align: center; width: 100%;"
                               border="1" cellpadding="2"
                               cellspacing="2">
                            <thead>
                            <tr>
                                <th style="text-align: center;"><p style=""><b>Username</b></th>
                                <th style="text-align: center;"><p style=""><b>Operation</b></th>
                                <th style="text-align: center;"><p style=""><b>Successful</b></th>
                                <th style="text-align: center;"><p style=""><b>Transaction ID</b></th>
                                <th style="text-align: center;"><p style=""><b>Time</b></th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tabContent" id="ip">
            </div>
        </div>

        <div id="col3">
            <h2>Navagation</h2>
            <ul>
                <li><a href="/">Home</a>

                    <ul>
                        <li><p><b>Transaction Console</b></p>
                        </li>
                        <li th:if="${user.admin}">
                            <a href="/users">User Console</a>
                        </li>
                        </li>
                        <li th:if="${user.admin}">
                            <a href="/traffic">Traffic Console</a>
                        </li>

                        <li th:if="${user.admin}">
                            <a href="/logs">Log Console</a>
                        </li>
                        <li>
                            <a href="/tables">Table Console</a>
                        </li>
                        <li th:if="${user.admin}">
                            <a href="/maintenance">Maintenance Console</a>
                        </li>
                        <li th:if="${user.admin}">
                            <a href="/devices">Device Console</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/user/options">User Options</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row3">
    <footer id="footer" class="clear">
        <h1>JavaByte Modern Database</h1>
        <p class="fl_left">2019 Kirchner Solutions - All Rights Reserved - <a
                href="https://kirchnerbusinesssolutions.com">Kirchner Business Solutions</a></p>
    </footer>
</div>
</body>
</html>