<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Database Create User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link type="text/css" th:href="@{/styles/layout.css}" rel="stylesheet">
    <link type="text/css" th:href="@{/styles/general.css}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="../static/scripts/html5shiv.js"></script><![endif]-->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">


    <script>
        function editUser(value) {
            var url = "/users/edit?id=" + value;
            window.open(url, '_blank');
        }
    </script>
    <script>
        var table = document.getElementById("myTable");
        function buttonClicked(value) {
            var result = confirm("Do you really want to delete this user?");
            if (result == true) {
                location.href = "/users/kick?id=" + value;
            } else {

            }
        }
    </script>
    <script  th:src="@{/scripts/sockjs.js}"></script>
    <script  th:src="@{/scripts/stomp.js}"></script>
    <script>
        var context_path = "${pageContext.request.contextPath}";
        var socket = new SockJS('/ws');
        //var socket = new SockJS('/specific/message');
        var stompClient = Stomp.over(socket);
        //var connid = utils.random_string(8);
        var sessionId = "";

        var username = "null";

        function setUname(Uname) {
            username = Uname;
        }

        var connect_callback = function () {
            // called back after the client is connected and authenticated to the STOMP server
            stompClient.subscribe('/user/queue/notify', function (msgOut) {
                var msg = msgOut.body;
                msg = msg.split("%");
                //0 = kick, 1 = device cert, 2 = display msg
                if (msg[0] == 1) {
                    writeCert(msg[1]);
                }
                if (msg[0] == 2) {
                    location.href = "/users?user=" + username;
                }
                if(msg[0] == 3){
                    var msg = 'Message From: ' + msg[1] + '\n' + msg[2];
                    alert(msg);
                }
                if (msg[0] == 0) {
                    location.href = "/notallowed"
                }
            });
            sendUsername();
            //getCert();
        };

        stompClient.connect({}, function (frame) {
            var suffix = frame.headers['queue-suffix'];
            var url = stompClient.ws._transport.url;
            sessionId = /\/([^\/]+)\/websocket/.exec(socket._transport.url)[1];
            //sessionId = /\/([^\/]+)\/websocket/.exec(socket._transport.url)[1];
            url = url.replace(
                "/ws://localhost:8080/messagesocket/specific/message//ig", "");
            url = url.replace("//websocket/ig", "");
            url = url.replace(/^[0-9]+\//, "");
            console.log("Your current session is: " + sessionId);
            connect_callback()
        });

        function disconnect() {
            if (stompClient != null) {
                stompClient.disconnect();
            }
            console.log("Disconnected");
        }

        function sendUsername() {
            stompClient.send("/app/register", {},
                JSON.stringify({'username': username, 'session': sessionId}));
        }

        function sendDeviceCert(cert) {
            stompClient.send("/app/device/cert", {},
                JSON.stringify({'cert': cert, 'user': username}));
        }

        function writeCert(cert) {
            if (typeof (Storage) !== "undefined") {
                // Code for localStorage
                localStorage.setItem("cert", cert);
            }
        }

        function checkStatus() {
            stompClient.send("/app/httpstatus", {},
                JSON.stringify({'username': username, 'session': sessionId}));
        }

        function getCert() {
            if (typeof (Storage) !== "undefined") {
                // Code for localStorage
                if (localStorage.length == 0) {
                    sendDeviceCert(0)
                } else {
                    if (localStorage.getItem("cert") > "1") {
                        sendDeviceCert(localStorage.getItem("cert"))
                    }
                }
            } else {
                sendDeviceCert(-1);
            }
        }
    </script>
    <script>

    </script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        var visited = /*[[${user.username}]]*/ '0';

        /*]]>*/
        setUname(visited);
    </script>
</head>
<body onclick="checkStatus()">
<div class="wrapper row1">
    <header id="header" class="clear">
        <h1>Database Create User</h1>
        <p th:object="${user}" th:text="*{msg}" style="color:red; text-align: center;"><b></b></p>
    </header>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row2">
    <div id="container" class="clear">
        <div id="col1">
            <h2>Logged in as</h2>
            <p th:object="${user}" th:text="*{username}" style="color:red; text-align: center;"><b></b></p>
            <a href="/logout">Logoff</a>
            <hr>
            <p><b>Create User</b></p>
        </div>
        <div id="col2">
            <h2>New User</h2>
            <form action="#" th:action="@{/users/create/submit}" th:object="${UserListBean}" method="post"
                  style="text-align: center;">
                <div id="activeuser-table">

                    <table style="border-collapse:collapse; align: center; text-align: left; align: center; width: 100%;"
                           border="1" cellpadding="2"
                           cellspacing="2">
                        <tbody>
                        <tr>
                            <td>
                                <p><b>Username: </b></p>
                            </td>
                            <td>
                                <input type="text" th:field="*{username}" th:value="*{username}" style=""/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><b>First Name: </b></p>
                            </td>
                            <td>
                                <input type="text" th:field="*{firstname}" th:value="*{firstname}" style=""/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><b>Last Name: </b></p>
                            </td>
                            <td>
                                <input type="text" th:field="*{lastname}" th:value="*{lastname}" style=""/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><b>User ID: </b></p>
                            </td>
                            <td>
                                <input type="text" th:field="*{id}" th:value="*{id}" style=""/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><b>System Admin("true" || "false"): </b></p>
                            </td>
                            <td>
                                <input type="text" th:field="*{admin}" th:value="*{admin}" style=""/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><b>Password: </b></p>
                            </td>
                            <td>
                                <input type="password" th:field="*{password}" th:value="*{password}" style=""/>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                    <input type="submit" value="Submit Changes"/>

                </div>
            </form>
        </div>
        <div id="col3">
            <h2>Navagation</h2>
            <ul>
                <li><a href="/">Home</a>

                    <ul>
                        <li><a href="/users">User Console</a>
                            <ul>
                                <li><p><b>Create User</b></p></li>
                            </ul>
                        </li>
                        <li th:if="${user.admin}">
                            <a href="/traffic">Traffic Console</a>
                        </li>
                        <li>
                            <a href="/tables">Table Console</a>

                        </li>
                        <li th:if="${user.admin}">
                            <a href="/logs">Log Console</a>
                        </li>
                        <li>
                            <a href="/transactions">Transaction Console</a>
                        </li>
                        <li th:if="${user.admin}">
                            <a href="/maintenance">Maintenance Console</a>
                        </li>
                        <li th:if="${user.admin}">
                            <a href="/data">Data Management Console</a>
                        </li>
                        <li th:if="${user.admin}">
                            <a href="/devices">Device Console</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/user/options">User Options</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row3">
    <footer id="footer" class="clear">
        <h1>JavaByte Modern Database</h1>
        <p class="fl_left">2019 Kirchner Solutions - All Rights Reserved - <a
                href="https://kirchnerbusinesssolutions.com">Kirchner Business Solutions</a></p>
    </footer>
</div>
</body>
</html>